@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url("https://www.mintlify.com/hero/bg-light.svg"); */
  height: 3000px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 53px;
  position: fixed;
  top: 0;
  width: 100%;
  justify-self: center;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
header .nav-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
header .nav-link ul li a {
  padding: 4.5px 8px;
  border-radius: 10px;
}
header .nav-link ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
header .nav-li ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .last {
  padding: 4.5px 12px;
  border-radius: 15px;
}
header .last .a1 {
  background-color: rgba(42, 42, 42, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.sec1 {
  background-image: url("https://www.mintlify.com/hero/bg-light.svg");
  z-index: -1;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative; /* or just remove position */
  min-height: 100vh; /* full screen hero */
  padding-top: 4rem;
  /* top: -10rem; */
}
.sec1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0 0 0;
  background-color: #085772;
  padding: 4px 8px 4px 4px;
  border-radius: 14px;
  justify-self: center;
}
.sec1 a span {
  padding: 2px 8px;
  font-size: 12px;
  background-color: #0c8c5e;
  border-radius: 14px;
}
.sec1 a p {
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}
.sec1 a i {
  font-size: 10px;
  margin-top: 5px;
}
.sec1 h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  padding: 1.75rem 0 1rem 0;
}
.sec1 .para {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  opacity: 75;
  /* padding: em 0; */
}

.email-box {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;

  padding: 5px;
  width: 370px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border-radius: 50px;
  margin-top: 2rem;
}

.email-box input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;

  padding: 8px 12px;
  font-size: 12px;
  color: #ffffff;
}

.email-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.email-box button {
  border: none;
  cursor: pointer;

  padding: 6px 12px;
  border-radius: 30px;

  background: #ffffff;
  color: #1f7f7a;
  font-weight: 600;

  transition: transform 0.2s ease;
}

.email-box button:hover {
  transform: scale(1.05);
}
.hero {
  margin: 50px 0;
  justify-self: center;
  border-radius: 50px;
}
.hero img {
  border-top-left-radius: 20px;
}
.container {
  justify-self: center;
}
.age{
  text-align: center;
  padding: 48px 32px;
  margin: 3rem 0 0.5rem 0;
}
.age h1{
  font-size: 35px;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  padding: 1rem 0;
}
.age p{
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  font-weight: 300;
}
.two-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}
.card{
  width: 420px;
  height: 450px;
  padding: 1rem 2rem;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  border: 0.5px solid rgba(165, 165, 165, 0.2);
}
.span{
  color: #0C8C5E;
  font-size: 10px;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}
.p{
  color: #393A3B;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
  opacity: 0.5;
}
.h3{
  color: #08090A;
  font-size: 20px;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}
.card img{
  width: 350px;
  height: 300px;
}
.assistent{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  margin: 2rem 0;
  border: 1px solid rgba(165, 165, 165, 0.2);
  border-radius: 14px;
  width: 860px;
  gap: 0.5rem;
  justify-self: center;
}
.sec4{
  background-color: #F7F7F7;
  padding-bottom: 1.5rem;
  /* margin: 2rem 0; */
}
.content{
  width: 60%;
  justify-self: center;
  padding: 4rem 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.content h1{
  font-size: 35px;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}
.content .txt{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .txt a{
  padding: 7px 18px;
  font-size: 14px;
  border-radius: 30px;
  color: #ffffff;
  background-color: #08090A;
}
.txt-img{
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem 0;
  margin: 1.5rem 0 0 0;
}
.txt-img > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer {
  background: #fff;
  border-top: 1px solid #eee;
  margin-top: 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  border: 1px solid #eee;
  padding: 40px 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.socials span {
  margin-left: 12px;
  color: #999;
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 30px 0;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-links h4 {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #888;
  margin-bottom: 12px;
}

.footer-links a {
  display: block;
  font-size: 14px;
  color: #111;
  margin-bottom: 10px;
  cursor: pointer;
}

.security {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.badge {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #777;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #666;
}

.status {
  background: #f6f6f6;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
}

